// app global css in SCSS form
.text-custom-grey {
  color: $custom-grey;
}
.bg-custom-grey {
  background: $custom-grey;
}

.text-custom-grey-light {
  color: $custom-grey-light;
}
.bg-custom-grey-light {
  background: $custom-grey-light;
}
