// app global css in SCSS form
.text-custom-grey {
  color: $custom-grey;
}
.bg-custom-grey {
  background: $custom-grey;
}

.text-custom-grey-light {
  color: $custom-grey-light;
}
.bg-custom-grey-light {
  background: $custom-grey-light;
}

.custom-container {
  max-width: 640px;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 3px solid $secondary;
}

h1.text-overline {
  font-size: 1rem;
}
